<!doctype html>
<html>
<head>
    <title>xinzuo status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Web Status Xinzuo" />
   <meta name="theme-color" content="#000000">
    <meta property="og:url" content="https://xinzuo.xyz" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="xinzuo since 2021 - 2023" />
    <link href="/css/styles.css" rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
</head>

<body>
   <div class="card1">
      <div class="header">
       <img src="https://telegra.ph/file/3d75cf2777ec1a6d7b290.jpg">
      </div>
        <div class="text1">
           <h4>Hallo Zuvers👋 Aku Xinzuo</h4>
           <h5>simpel bot whatsapp yg menggunakan bahasa pemrograman Javascript.</h5>
           <h5>xinzuo dapat melakukan berbagai hal semacam mendownload video/audio/foto, membuat sticker, broadcast announcement gempa, dll.</h5>
            <a href="https://wa.me/6289501136170" class="menu-btn">xinzuo v1.8.0</a>
            <a href="https://wa.me/6285848379210" class="menu-btn">xinzuo v1.7.0</a>
        </div>
        <div class="card2">
           <h3>statistik</h3>
            <p>Pengguna : <small><%= user %></small></p>
            <p>Chat Pribadi: <small><%= chatpc %></small></p>
            <p>Chat Group: <small><%= chatgc %></small></p>
            <p>Total Hit : <small><%= hit %></small></p>
            <p>Aktif Selama : <small><%= uptime %></small></p>
            <div class="button-section">
            <a href="https://chat.whatsapp.com/D8myLoppX2HJPHVzvKbxCa" class="menu-group">Group WhatsApp</a>
            </div>
         </div>
      </div>
      <script>
      swal({
        title: 'BOT BELUM BISA DIGUNAKAN!',
        imageUrl: 'https://telegra.ph/file/0d270c3d50201b29f076e.jpg',
        imageWidth: 200,
        imageHeight: 200,
        imageAlt: 'ZeynXz',
        animation: true
      })
    </script>
   </body>
</html>